.rotate {
  animation-name: rotate;
  animation-duration: 0.25s;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  5% {
    transform: rotate3d(0, 1, 0, 45deg);
  }
  10% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  15% {
    transform: rotate3d(0, 1, 0, 135deg);
  }
  20% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  25% {
    transform: rotate3d(0, 1, 0, 135deg);
  }
  30% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  35% {
    transform: rotate3d(0, 1, 0, 45deg);
  }
  40% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
}
